.mainBox66 {
  display: flex;

  background-color: rgb(253, 253, 253);
  width: 576px;
  min-width: 217px;
  height: 500px;
  border-radius: 5px;
  border: 1px solid rgb(194, 194, 194);
  flex-direction: column;
  transform: translatey(-600px);
  margin-left: 205px;
  margin-top: 15px;
}

#profilePic66 {
  height: 48px;
  width: 48px;
  border: 3px solid red;
  border-radius: 50px;
}

#mainContainer66 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.firstContainer66 {
  margin-top: 10px;
  height: 60px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

#mainImage66 {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.containerSvg66 {
  display: flex;
  justify-content: space-evenly;
  margin-left: 1px;
}
.buttonSrc66 {
  background-color: white;
  border: none;
}
.buttonSrc66:hover {
  background-color: rgb(204, 204, 204);
}
