.feedBox{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(253, 253, 253);
    width: 576px;
    min-width: 217px;
    height: 116px;
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);
}
.rowFeedBox{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 32%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
}

.profileImg{
    border-radius: 50px;
    border: 3px solid red;
    height: 48px;
    width: 48px;
}
.searchBar{
    width: 100%;
    height: 48px;
    border-radius: 50px;
    border: solid 1px;
    border-color: rgb(167, 167, 167);
    display: flex;
    align-content: flex-start;
    background-color: white;
    color: rgb(109, 108, 108);
    
    
}
#placeholderS{
    margin-top: 9px;
    margin-left: 15px;
}

.containerSvg{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 17px;
}

.buttonSrc{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    background-color: rgb(252, 252, 252);
    border: none;
    transform: translateY(-3px);
    
}

.buttonSrc:hover{
    background-color: rgb(233, 235, 236) !important;
    border-radius: 5px;
    
}



